#imce_gallery {
	padding-bottom: 10px;
}

#imce_gallery_table td {
	vertical-align: top;
	padding: 5px;
}

span#g_file_name {
	font-style:italic;
	font-weight:bold;
}

div#overlay {
	position:absolute;
	top:0px;
	left:0px;
	background-color:#F7F7F7;
	z-index:100;
	width:100%;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
}

div#original_image {
	position:relative;
}

span#image_num {
	padding-left:15px;
	padding-right:15px;
}

div#image_info {
	position:relative;
	padding-bottom:10px;
}

div#lightbox{
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0;
}